footer {
  padding: 1.5em;
  background: url(../images/funny.png) no-repeat;


  p {
    padding: 1em;
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    text-shadow: 3px 3px 4px #48aef0, 0 0 2em #25c7b6;
    text-transform: uppercase;
    text-align: center;

  }

}