#timeTo {
  background: url(../images/sea.jpg) no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  .timeTo-wrapper {
    width: 1024px;

    .left {
      position: absolute;
      color: #0D1538;
      font-size: 4em;
      text-shadow: 3px 3px 4px #48aef0, 0 0 2em #25c7b6;
     }

    .before {
      position: absolute;
      margin-top: 5em;
      margin-left: 3em;
      color: #0D1538;
      font-size: 4em;
      text-shadow: 3px 3px 4px #48aef0, 0 0 2em #25c7b6;
      font-weight: 300;
    }

    .numbers {
      position: absolute;
      margin-top: 7em;
      margin-left: 3em;
      li {
        display: inline-block;
        margin: 0 0.5em;
        padding: 0.5em;
        font-size: 3em;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        text-shadow: 3px 3px 4px #48aef0, 0 0 2em #25c7b6;
        transition: 1s;
      }
    }

    .signature {
      position: absolute;
      margin-top: 14em;
      li {
        display: inline-block;
        margin-left: 3.5em;
        font-size: 1.8em;
        border-top: 1px black solid;
        }
      .hour {
        margin-left: 3.3em;
      }

      .min {
        margin-left: 1.9em;
      }

      .sec {
        margin-left: 1.6em;
      }
    }

    img {
      float: right;
      width: 17em;
      margin-right: 2em;

      &:hover {
        transform: rotateX(-360deg);
        transition: 2s;
      }
    }
  }
}